<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.everb.kronicle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/kronicle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".LandingPage"
            android:theme="@style/AppTheme" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />

        <!-- Children of Main Activity -->
        <!-- My Account -->
        <activity
            android:name=".MyAccount"
            android:label="@string/my_account"
            android:parentActivityName=".MainActivity" />
        <!-- Settings -->
        <activity
            android:name=".Settings"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <!-- About -->
        <activity
            android:name=".About"
            android:label="@string/about"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>